## DataFrame creation in Pandas

In [1]:
#import pandas library
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# create a DataFrame using dictionary of lists.Each list must be of same length
data = {'name': ['Rahul', 'Riya', 'Shilpa', 'Ishaan', 'Chloe','Marshmallow'], 
        'year': [1998, 2004, 2000, 2007, 2017,2020], 
        'chocolates': [6, 10, 9, 11, 3,2]}
  
df = pd.DataFrame(data, index = ['Dark', 'Milk', 'Caramel', 'Mint', 'Sea Salt','Fudge'])
df

                 name  year  chocolates
Dark            Rahul  1998           6
Milk             Riya  2004          10
Caramel        Shilpa  2000           9
Mint           Ishaan  2007          11
Sea Salt        Chloe  2017           3
Fudge     Marshmallow  2020           2

In [4]:
# create a DataFrame using dictionary of lists with row indexes specified
data = {'State':['Oregon', 'Nevada','California','Oregon'], 
        'Year':['2015','2018','2019','NaN'],
        'Population':[2,1.1,3.5,0]}

df = pd.DataFrame(data,index=['O','N','C','O'])
df

        State  Year  Population
O      Oregon  2015         2.0
N      Nevada  2018         1.1
C  California  2019         3.5
O      Oregon   NaN         0.0

In [12]:
i = df.columns
i
ii = df.index
ii

Index(['State', 'Year', 'Population'], dtype='object')

RangeIndex(start=0, stop=4, step=1)

In [5]:
# create a DataFrame using list of dictionaries with row indexes specified
data =[ {'State':'California','Year':'2018','Population':3.5},
       {'State':'Oregon','Year':'2016','Population':1.5},
       {'State':'Nevada','Year':'2014','Population':1.1},
       {'State':'California','Year':'2018'}
      ]

df = pd.DataFrame(data)
df

        State  Year  Population
0  California  2018         3.5
1      Oregon  2016         1.5
2      Nevada  2014         1.1
3  California  2018         NaN

In [6]:
#creating a DataFrame from a csv file. 
#filepath can be either absolute or relative
df = pd.read_csv('filename.csv')