## Creation of dataframe using **pandas** library

In [5]:
#import pandas library
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
data = {'name': ['Rahul', 'Riya', 'Shilpa', 'Ishaan', 'Chloe','Marshmallow'], 
        'year': [1998, 2004, 2000, 2007, 2017,2020], 
        'chocolates': [6, 10, 9, 11, 3,2]}
  
df = pd.DataFrame(data, index = ['Dark', 'Milk', 'Caramel', 'Mint', 'Sea Salt','Fudge'])
df

                 name  year  chocolates
Dark            Rahul  1998           6
Milk             Riya  2004          10
Caramel        Shilpa  2000           9
Mint           Ishaan  2007          11
Sea Salt        Chloe  2017           3
Fudge     Marshmallow  2020           2